# Enable during startup?
START=yes

# Configuration file
CONFFILE="/etc/shadowsocks-libev/config.json"

# Extra command line arguments
DAEMON_ARGS=

# User and group to run the server as
USER={{ ansible_env.USER }}
GROUP=nogroup

# Number of maximum file descriptors
MAXFD=32768

{% if ss_config.plugin is defined %}
# Plugin file
{% if ss_config.plugin.v2ray is defined %}
PLUGIN="/etc/shadowsocks-libev/v2ray-plugin_linux_amd64"
PLUGINOPTS="{{ ss_config.plugin.v2ray.opts }}"
{% endif %}
{% if ss_config.plugin.cloak is defined %}
PLUGIN="/etc/shadowsocks-libev/ck-server"
PLUGINOPTS="/etc/shadowsocks-libev/ckserver.json"
{% endif %}
{% endif %}
