{
    "server": "0.0.0.0",
    "server_port": {{ server_port }},
    "password": "{{ password }}",
    "timeout": {{ timeout }},
    "method": "{{ encrypt_method }}",
    "fast_open": {{ fast_open | lower }}
}